@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;

}

.header {
    width: 80%;
    margin: 6px auto;
}

.header img {
    width: 334px;
    height: 100px;
    object-fit: contain;
}

.home {
    background-color: #273c75;
}

.home__container {
    width: 85%;
    margin: 0px auto;
    padding: 50px 0px;
    text-align: center;
}

.home__subtitle {
    font-size: 20px;
    color: white;
}

.home__input {
    width: 100%;
    margin-top: 10px;
}

.home__input>input {
    width: 80%;
    padding: 6px 10px;
    font-size: 14px;
    outline: none;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.home__input>button {
    padding: 6px 10px;
    font-size: 14px;
    outline: none;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    background-color: #273c75;
    border: 1px solid black;
    color: white;
}

.home__title {
    color: white;
    font-size: 14px;
}

.main__container {
    width: 80%;
    margin: 10px auto;
}

.main__container h1 {
    font-weight: bold;
    font-size: 3rem;
}

table {
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}


td,
th {
    border: 1px solid gray;
    text-align: center;
    font-size: 18px;
    padding: 10px 10px;
}

th {
    color: white;

}



tr:first-child {
    color: black;
}

tr:nth-child(even) {
    background-color: #dcdde1;
}

tr:hover {
    background-color: #dcdde1;
}

thead tr:hover {
    background-color: #273c75 !important;
}

thead {
    background-color: #273c75;
}

@media screen and (max-width: 968px) {
    .table__responsive {
        overflow-x: scroll;
    }
}